{% extends "base.html" %}
{% block title %}
Registrar Nota
{% endblock  %}
{% block content %}
<div class="container">
    <h1>Registrar Nota</h1>
    <hr>
    <form action="/register" method="POST">
        <label class="form-label" for="user_name">Nombre:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="nombre" id="user_name"><br><br>
        </div>
        <label for="user_class">Materia:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="materia" id="user_class"><br><br>
        </div>
        <label class="form-label" for="user_note">Nota:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="nota" id="user_note"><br><br>
        </div>
        <button class="btn btn-primary" type="submit">GUARDAR</button>
    </form>
</div>

{% endblock  %}