{% extends "base.html" %}
{% block title %}
Actualizando: {{user.nombre}}
{% endblock  %}
{% block content %}

<div class="container">
    <h1>Actualizar registro</h1>
    <hr>
    <form method="POST">
        <label class="form-label" for="user_name">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="user_name" value="{{user.nombre}}"><br><br>
        <label class="form-label" for="user_class">Materia</label>
        <input type="text" class="form-control" name="materia" id="user_class" value="{{user.materia}}"><br><br>
        <label class="form-label" for="user_note">Nota</label>
        <input type="text" class="form-control" name="nota" id="user_note" value="{{user.nota}}"><br><br>
        <button class="btn btn-primary" type="submit">ACTUALIZAR</button>
    </form>
</div>
{% endblock %}
